[submodule "mods/MoreMesecons"]
	path = mods/MoreMesecons
	url = https://github.com/minetest-mods/MoreMesecons.git
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/Jeija/minetest-mod-mesecons.git
[submodule "mods/metatools"]
	path = mods/metatools
	url = https://github.com/LeMagnesium/minetest-mod-metatools.git
