[submodule "mods/MoreMesecons"]
	path = mods/MoreMesecons
	url = https://github.com/minetest-mods/MoreMesecons.git
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/Jeija/minetest-mod-mesecons.git
[submodule "mods/metatools"]
	path = mods/metatools
	url = https://github.com/LeMagnesium/minetest-mod-metatools.git
[submodule "mods/WorldEdit"]
	path = mods/WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "mods/areas"]
	path = mods/areas
	url = https://github.com/ShadowNinja/areas.git
[submodule "mods/chesttools"]
	path = mods/chesttools
	url = https://github.com/Sokomine/chesttools.git
[submodule "mods/email"]
	path = mods/email
	url = https://github.com/rubenwardy/email.git
[submodule "mods/fishing"]
	path = mods/fishing
	url = https://github.com/MinetestForFun/fishing.git
[submodule "mods/treecapitator"]
	path = mods/treecapitator
	url = https://github.com/HybridDog/treecapitator.git
[submodule "mods/maptools"]
	path = mods/maptools
	url = https://github.com/minetest-mods/maptools.git
[submodule "games/minetest_game"]
	path = games/minetest_game
	url = https://github.com/minetest/minetest_game.git
[submodule "mods/mapfix"]
	path = mods/mapfix
	url = https://github.com/minetest-mods/mapfix.git
[submodule "mods/signs_lib"]
	path = mods/signs_lib
	url = https://github.com/minetest-mods/signs_lib.git
[submodule "mods/boost_cart"]
	path = mods/boost_cart
	url = https://github.com/SmallJoker/boost_cart.git
[submodule "mods/farming"]
	path = mods/farming
	url = https://github.com/paly2/farming.git
[submodule "mods/irc_modpack"]
	path = mods/irc_modpack
	url = https://github.com/MinetestForFun/irc_modpack.git
[submodule "mods/jumping"]
	path = mods/jumping
	url = https://github.com/Jeija/minetest-mod-jumping/
[submodule "mods/markers"]
	path = mods/markers
	url = https://github.com/Sokomine/markers
[submodule "mods/moreores"]
	path = mods/moreores
	url = https://github.com/minetest-mods/moreores
[submodule "mods/sprint"]
	path = mods/sprint
	url = https://github.com/GunshipPenguin/sprint
[submodule "mods/vector_extras"]
	path = mods/vector_extras
	url = https://github.com/HybridDog/vector_extras
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = https://github.com/minetest-technic/unified_inventory
[submodule "mods/hopper"]
	path = mods/hopper
	url = https://github.com/tenplus1/hopper.git
