[submodule "mods/MoreMesecons"]
	path = mods/MoreMesecons
	url = https://github.com/minetest-mods/MoreMesecons.git
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/Jeija/minetest-mod-mesecons.git
[submodule "mods/metatools"]
	path = mods/metatools
	url = https://github.com/LeMagnesium/minetest-mod-metatools.git
[submodule "mods/xban2"]
	path = mods/xban2
	url = https://github.com/paly2/xban2.git
	branch = whitelist
[submodule "mods/WorldEdit"]
	path = mods/WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "mods/areas"]
	path = mods/areas
	url = https://github.com/ShadowNinja/areas.git
[submodule "mods/chesttools"]
	path = mods/chesttools
	url = https://github.com/Sokomine/chesttools.git
[submodule "mods/email"]
	path = mods/email
	url = https://github.com/rubenwardy/email.git
[submodule "mods/fishing"]
	path = mods/fishing
	url = https://github.com/MinetestForFun/fishing.git
[submodule "mods/treecapitator"]
	path = mods/treecapitator
	url = https://github.com/HybridDog/treecapitator.git
